<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script defer src="/node_modules/jquery/dist/jquery.js"></script>
    <script defer src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script defer src="/node_modules/vue/dist/vue.js"></script>
    <script defer src="/javascripts/phoneBook.js"></script>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>