* {
    box-sizing: border-box;
}

body {
    background-color: #FFEFD6;
    color: #676565;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7143em;
}

.content {
    margin: 0 auto;
    max-width: 854px;
    padding: 6px 15px 0;
}

.title {
    margin: 0 0 .42em 0;
    text-align: left;
    text-transform: uppercase;
}

h1.title {
    font-size: 2.293em;
    font-weight: 500;
    line-height: 1.07em;
}

.section {
    margin: 0 0 .9em 0;
}

.subtitle {
    font-size: 1.3736em;
    margin: 0 0 .42em;
}

.color-text {
    color: #0394B5;
    font-weight: 700;
}

.strike-text {
    text-decoration: line-through;
}

.indent {
    text-indent: 1em;
}

.description {
    font-size: 1.2589em;
    margin: 0 0 .66em 0;
    text-align: justify;
}